remuneracao-magistrados
coverage.txt
.idea/
.vscode/
exportEnvVars.sh
.env
node_modules/
gin-bin*
api
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
tmp
