<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/brands.css"
    integrity="sha384-i2PyM6FMpVnxjRPi0KW/xIS7hkeSznkllv+Hx/MtYDaHA5VcF0yL3KVlvzp8bWjQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css"
    integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143064237-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-143064237-1');
  </script>
  <title>dadosjusbr,online</title>

    <!-- Social Tags -->
    <meta name="description" content="O dadosjusbr.online é uma iniciativa que tem como objetivo viabilizar o acesso a informações referentes às remunerações do sistema de justica brasileiro." />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@dadosjusbr">
    <meta name="twitter:title" content="dadosjusbr.online">
    <meta name="twitter:creator" content="@dadosjusbr">
    <meta name="twitter:image" content="http://dadosjusbr.online/static/dadosjusbr-logo.png">
  
    <!-- Open Graph data -->
    <meta property="og:title" content="dadosjusbr.online" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://dadosjusbr.online/" />
    <meta property="og:image" content="http://dadosjusbr.online/static/dadosjusbr-logo.png" />
    <meta property="og:description" content="O dadosjusbr.online é uma iniciativa que tem como objetivo viabilizar o acesso a informações referentes às remunerações do sistema de justica brasileiro." /> 
    <meta property="og:site_name" content="dadosjusbr.online" />
    <meta property="fb:admins" content="3027053387309444" />
</head>

<body style="background-color: #f9f9f9; font-family: 'Roboto', sans-serif;">
  <nav class="navbar navbar-light" style="background-color: #00386E">
    <a class="navbar-brand" href="/" style="color:white">
      <img src="/static/white_logo.png" width="279" height="49" alt="" style="margin:7px;" />
    </a>
  </nav>
  <div style="display: flex; flex-direction: row; margin: 8vh 8vh 0 8vh; text-align: center; position: absolute;">
    <aside style="height:75vh; min-width: 250px; display: flex; flex-direction: column">
      <li class="list-group-item" style="text-align: center; background-color: #00386E; color: white;">
        <b>Índice</b>
      </li>
      <ul class="list-group" style="text-align: initial; overflow-y:auto;">
        {{ $mLabel := "" }}
        {{ range .SidebarElements }}
        <li class="list-group-item">
          <a href="{{ .URL }}"
            style="color: black; {{if eq .Label $mLabel}} font-weight: bold; {{end}}">{{ .Label }}</a>
        </li>
        {{ end }}
      </ul>
    </aside>
    <div style="padding-left: 80px;">
      <div>
        <img src="/static/img-org-djbr.svg" class="img-fluid" alt="" style="margin:0px; height: 25vh; width: auto;" />
        <h3 style="font-size: 3.5vh">Libertando dados de remunerações para magistrados.</h3>
        <br />
        <br />
        <p style="text-align: justify">
          O dadosjusbr.online é uma iniciativa que tem como foco incentivar e viabilizar o acesso a informações
          referentes às remunerações de magistrados publicadas mensalmente na <a
            href="http://www.cnj.jus.br/transparencia/remuneracao-dos-magistrados/" target="_blank">página</a> do
          Conselho Nacional de
          Justiça.
          Aqui você vai encontrar esses dados organizados, limpos e reúnidos em um <a
            href="https://frictionlessdata.io/data-packages/" target="_blank">datapackage</a> por mês.
        </p>
        <br />
        <div style="width: 100%; text-align: initial">
          <strong>Acesse os dados de cada mês através do menu lateral.</strong>
        </div>
        <br />
        <br />
      </div>
      <div style="width:100%">
        Nos acompanhe no twitter e github
        <br>
        <a href="https://twitter.com/dadosjusbr" target="_blank"
          style="color: black; font-size: 4vh; margin-right: 1vh"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/dadosjusbr/" target="_blank" style="color: black; font-size: 4vh"><i
            class="fab fa-github"></i></a>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
