<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143064237-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-143064237-1');
  </script>

  <title>dadosjusbr</title>

  <style>
    th,
    td {
      padding-right: 15px;
    }
  </style>
</head>

<body style="background-color: #f9f9f9;">
  <nav class="navbar navbar-light" style="background-color: #00386E">
    <a class="navbar-brand" href="/" style="color:white">
      <img src="/static/white_logo.png" width="279" height="49" alt="" style="margin:7px" />
    </a>
  </nav>
  <div
    style="display: flex; flex-direction: row; margin: 8vh 8vh 0 8vh; text-align: center; position: absolute; width: 90%">
    <aside style="height:75vh; min-width: 250px; display: flex; flex-direction: column">
      <li class="list-group-item" style="text-align: center; background-color: #00386E; color: white;">
        <b>Índice</b>
      </li>
      <ul class="list-group" style="text-align: initial; overflow-y:auto;">
        {{ $mLabel := .MonthLabel }}
        {{ range .SidebarElements }}
        <li class="list-group-item">
          <a href="{{ .URL }}"
            style="color: black; {{if eq .Label $mLabel}} font-weight: bold; {{end}}">{{ .Label }}</a>
        </li>
        {{ end }}
      </ul>
    </aside>
    <div style="flex-grow: 1">
      <h1>{{ .MonthLabel }}</h1>
      <br />
      <div style="width:600px; height: 400px; margin: auto">
        <canvas id="myChart" width="600" height="400"></canvas>
      </div>
      <br>
      <table style="margin: auto; border: 0px solid black;">
        <th></th>
        <th>Média</th>
        <th>Mediana</th>
        <th>Desvio Padrão</th>
        {{range .Statistics}}
        <tr>
          <td>{{.Name}}</td>
          <td>{{printf " % .2f" .Mean}}</td>
          <td>{{printf " % .2f" .Median}}</td>
          <td>{{printf " % .2f" .StdDev}}</td>
        </tr>
        {{end}}
      </table>
      <br>
      <p style="text-align: center">
        Nesse mês foram disponibilizados dados de pagamentos de <strong>{{(index .Statistics 0).SampleSize}}</strong>
        Magistrados
      </p>
      <button type="button" class="btn btn-primary btn-lg" onclick="window.open('{{ .DatapackageURL }}','_blank')">
        Baixar datapackage
      </button>
      <button type="button" class="btn btn-secondary btn-lg" onclick="window.open('{{ .SpreadsheetsURL }}','_blank')">
        Baixar planilhas
      </button>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

  <script>
    const ctx = document.getElementById("myChart");
    const myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: [
          {{ range .Statistics }}
            "{{.Name}}",
          {{ end }}
        ],
    datasets: [
      {
        label: "",
        data: [
        {{ range .Statistics }}
          "{{printf " % .2f" .Sum}}",
        {{ end }}
    ],
      borderWidth: 1
          }
        ]
      },
    options: {
      tooltips: {
        callbacks: {
          label: tooltipItem => {
            const value = tooltipItem.yLabel;
            if (parseInt(value) >= 1000) {
              return 'R$ ' + value.toString().replace(/\./, ',').replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            } else {
              return 'R$ ' + value.toString().replace(/\./, ',');
            }
          }
        }
      },
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
              callback: value => {
                if (parseInt(value) >= 1000) {
                  return 'R$ ' + value.toString().replace(/\./, ',').replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                } else {
                  return 'R$ ' + value.toString().replace(/\./, ',');
                }
              }
            }
          }
        ]
      }
    }
    });
  </script>
</body>

</html>